{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main_style.css' %}"></link>
    <title>Main</title>
</head>
<body>
    <h1>Choose which CSV to access</h1>
    <div>
        <a href="{% url 'main_page' %}" class="btn btn-info">Matches</a>
        <a href="{% url 'main' %}" class="btn btn-info">Primary School</a>
    </div>
    
</body>
</html>