body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #cdb4db;
}

#graph{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}